[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=springbootuser
ExecStart=/usr/bin/java -jar /usr/share/springpetclinic/spring-petclinic-2.4.2.jar
SuccessExitStatus=143 

[Install] 
WantedBy=multi-user.target
WantedBy=multi-user.target